In [270]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [271]:
from google.colab import files

uploaded = files.upload()

Saving CarPrice_Assignment.csv to CarPrice_Assignment (7).csv

In [272]:
import io
dataset = pd.DataFrame(pd.read_csv(io.BytesIO(uploaded['CarPrice_Assignment.csv'])))
# Dataset is now stored in a Pandas Dataframe

In [273]:
dataset.head(10)

   car_ID  symboling                   CarName  ... citympg highwaympg      price
0       1          3        alfa-romero giulia  ...      21         27  13495.000
1       2          3       alfa-romero stelvio  ...      21         27  16500.000
2       3          1  alfa-romero Quadrifoglio  ...      19         26  16500.000
3       4          2               audi 100 ls  ...      24         30  13950.000
4       5          2                audi 100ls  ...      18         22  17450.000
5       6          2                  audi fox  ...      19         25  15250.000
6       7          1                audi 100ls  ...      19         25  17710.000
7       8          1                 audi 5000  ...      19         25  18920.000
8       9          1                 audi 4000  ...      17         20  23875.000
9      10          0       audi 5000s (diesel)  ...      16         22  17859.167

[10 rows x 26 columns]

In [274]:
dataset[dataset['CarName'].isna()]

Empty DataFrame
Columns: [car_ID, symboling, CarName, fueltype, aspiration, doornumber, carbody, drivewheel, enginelocation, wheelbase, carlength, carwidth, carheight, curbweight, enginetype, cylindernumber, enginesize, fuelsystem, boreratio, stroke, compressionratio, horsepower, peakrpm, citympg, highwaympg, price]
Index: []

In [275]:
dataset[dataset.duplicated() == True]

Empty DataFrame
Columns: [car_ID, symboling, CarName, fueltype, aspiration, doornumber, carbody, drivewheel, enginelocation, wheelbase, carlength, carwidth, carheight, curbweight, enginetype, cylindernumber, enginesize, fuelsystem, boreratio, stroke, compressionratio, horsepower, peakrpm, citympg, highwaympg, price]
Index: []

Drop Car_ID

In [276]:
dataset.drop('car_ID', inplace=True, axis=1)

In [277]:
dataset.columns

Index(['symboling', 'CarName', 'fueltype', 'aspiration', 'doornumber',
       'carbody', 'drivewheel', 'enginelocation', 'wheelbase', 'carlength',
       'carwidth', 'carheight', 'curbweight', 'enginetype', 'cylindernumber',
       'enginesize', 'fuelsystem', 'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price'],
      dtype='object')

In [278]:
dataset['CarName'] = dataset['CarName'].replace({'maxda': 'mazda', 'nissan': 'Nissan', 'porcshce': 'porsche', 'toyouta': 'toyota', 
                            'vokswagen': 'volkswagen', 'vw': 'volkswagen'})

##Encoding the Categorical Columns(Because we don't want string records in our dataset)

In [279]:
final_data = pd.get_dummies(dataset, columns=['CarName', 'fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel', 'enginelocation', 
                                              'enginetype', 'cylindernumber', 'fuelsystem'])

In [280]:
final_data.head()

   symboling  wheelbase  ...  fuelsystem_spdi  fuelsystem_spfi
0          3       88.6  ...                0                0
1          3       88.6  ...                0                0
2          1       94.5  ...                0                0
3          2       99.8  ...                0                0
4          2       99.4  ...                0                0

[5 rows x 200 columns]

In [281]:
train_x = final_data[:102]

In [282]:
train_y = train_x['price']

In [283]:
train_x.drop('price', axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [284]:
test_x = final_data[102:164]

In [303]:
val_x = final_data[164:]

In [286]:
test_y = test_x['price']

In [287]:
test_x.drop(columns='price', axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [288]:
val_y = val_x['price']

In [304]:
val_x.drop(columns='price', axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

##Normalization of data

In [291]:
mean = train_x.iloc[:, 0:15].mean(axis=0)
train_x.iloc[:, 0:15] -= mean

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1715: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, v)

In [292]:
std = train_x.iloc[:, 0:15].std(axis=0)
train_x.iloc[:, 0:15] /= std

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1715: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, v)

In [293]:
mean_t = test_x.iloc[:, 0:15].mean(axis=0)
std_t = test_x.iloc[:, 0:15].std(axis=0)

In [294]:
test_x.iloc[:, 0:15] -= mean_t
test_x.iloc[:, 0:15] /= std_t

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1715: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, v)

In [295]:
mean_v = val_x.iloc[:, 0:15].mean(axis=0)
std_v = val_x.iloc[:, 0:15].std(axis=0)

In [305]:
val_x.iloc[:, 0:14] -= mean_v
val_x.iloc[:, 0:14] /= mean_v

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1715: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, v)

In [297]:
mean_tr_y = train_y.mean(axis=0)
mean_te_y = test_y.mean(axis=0)
mean_val_y = val_y.mean(axis=0)

In [298]:
std_y_train = train_y.std(axis=0)
std_y_test = test_y.std(axis=0)
std_y_val = val_y.std(axis=0)

In [299]:
train_y -= mean_tr_y
train_y /= std_y_train
test_y -= mean_te_y
test_y /= std_y_test
val_y -= mean_val_y
val_y /= std_y_val

In [300]:
train_x.shape

(102, 199)

In [308]:
# train_x

In [307]:
# val_x

##Create Model

In [322]:
from tensorflow.keras.models import Sequential
from tensorflow.keras import layers

In [331]:
network = Sequential()
network.add(layers.Dense(10, activation='tanh', input_shape=(199,)))
network.add(layers.Dense(8, activation='tanh' ))
network.add(layers.Dense(6, activation='tanh'))
network.add(layers.Dense(1))

In [332]:
network.compile(optimizer='rmsprop', loss='mse', metrics='mae')

In [333]:
network.fit(train_x, train_y, epochs=20, verbose=1, validation_data=(val_x, val_y), batch_size=10)

Epoch 1/20
11/11 [==============================] - 1s 30ms/step - loss: 1.0096 - mae: 0.7399 - val_loss: 0.7883 - val_mae: 0.7255
Epoch 2/20
11/11 [==============================] - 0s 6ms/step - loss: 0.5465 - mae: 0.5108 - val_loss: 0.7220 - val_mae: 0.6988
Epoch 3/20
11/11 [==============================] - 0s 6ms/step - loss: 0.6298 - mae: 0.4880 - val_loss: 0.6684 - val_mae: 0.6725
Epoch 4/20
11/11 [==============================] - 0s 7ms/step - loss: 0.3052 - mae: 0.3150 - val_loss: 0.6210 - val_mae: 0.6509
Epoch 5/20
11/11 [==============================] - 0s 6ms/step - loss: 0.2783 - mae: 0.3082 - val_loss: 0.5927 - val_mae: 0.6424
Epoch 6/20
11/11 [==============================] - 0s 6ms/step - loss: 0.3267 - mae: 0.3674 - val_loss: 0.5750 - val_mae: 0.6339
Epoch 7/20
11/11 [==============================] - 0s 6ms/step - loss: 0.1836 - mae: 0.2854 - val_loss: 0.5553 - val_mae: 0.6205
Epoch 8/20
11/11 [==============================] - 0s 6ms/step - loss: 0.1495 - mae: 0.2387 - val_loss: 0.5584 - val_mae: 0.6332
Epoch 9/20
11/11 [==============================] - 0s 6ms/step - loss: 0.1717 - mae: 0.2789 - val_loss: 0.5556 - val_mae: 0.6261
Epoch 10/20
11/11 [==============================] - 0s 6ms/step - loss: 0.1494 - mae: 0.2627 - val_loss: 0.5465 - val_mae: 0.6173
Epoch 11/20
11/11 [==============================] - 0s 7ms/step - loss: 0.1118 - mae: 0.2227 - val_loss: 0.5457 - val_mae: 0.6133
Epoch 12/20
11/11 [==============================] - 0s 6ms/step - loss: 0.1496 - mae: 0.2421 - val_loss: 0.5527 - val_mae: 0.6075
Epoch 13/20
11/11 [==============================] - 0s 6ms/step - loss: 0.0993 - mae: 0.2096 - val_loss: 0.5937 - val_mae: 0.6503
Epoch 14/20
11/11 [==============================] - 0s 6ms/step - loss: 0.1100 - mae: 0.1963 - val_loss: 0.5762 - val_mae: 0.6289
Epoch 15/20
11/11 [==============================] - 0s 6ms/step - loss: 0.0741 - mae: 0.1581 - val_loss: 0.6015 - val_mae: 0.6403
Epoch 16/20
11/11 [==============================] - 0s 6ms/step - loss: 0.0659 - mae: 0.1564 - val_loss: 0.6306 - val_mae: 0.6531
Epoch 17/20
11/11 [==============================] - 0s 6ms/step - loss: 0.0870 - mae: 0.1702 - val_loss: 0.6613 - val_mae: 0.6474
Epoch 18/20
11/11 [==============================] - 0s 6ms/step - loss: 0.0748 - mae: 0.1670 - val_loss: 0.6211 - val_mae: 0.6480
Epoch 19/20
11/11 [==============================] - 0s 6ms/step - loss: 0.0657 - mae: 0.1467 - val_loss: 0.6653 - val_mae: 0.6696
Epoch 20/20
11/11 [==============================] - 0s 6ms/step - loss: 0.0558 - mae: 0.1442 - val_loss: 0.6734 - val_mae: 0.6755